/* Estilos generales para las cajas de respuesta y contexto */
.answer-container, .context-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.answer-box, .context-box {
    max-width: 700px; /* Limitar el ancho maximo de las cajas */
    width: 100%;
    text-align: left;
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    padding: 10px;
    border-radius: 5px;
}

/* Estilos para el titulo del historial */
.history-title {
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

/* Estilos adicionales para la conversacion */
.conversation {
    margin-bottom: 10px;
}

.user-message, .bot-response {
    max-width: 700px;
    width: 100%;
    margin: 5px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
}

.main-title {
    font-size: 32px;
    font-weight: bold;
    margin-left: 10px;
}

.model-selection {
    margin-top: 10px;
    font-size: 18px;
}

.footer {
    margin-top: 50px;
    text-align: center;
    color: #888;
    font-size: 14px;
}

/* Botones */
button {
    background-color: #007bff; /* Azul oscuro */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Azul mas oscuro */
}
